- content_for :title, "Versus Table"

.row.span6
  %h2.span6
    Versus Table for Active Players

.row
  %table#vs_table.table.table-striped.span10
    %thead
      %tr
        %td
        - @vs_table.each_with_index do |vs_record, player_rank|
          - player = @rank_to_player[player_rank]
          %th.name= link_to(player.display_name, player_path(player.id))
    
    - @vs_table.each_with_index do |vs_record, player_rank|
      - player = @rank_to_player[player_rank]
      %tr.player
        %th.name= link_to(player.display_name, player_path(player.id))
        - vs_record.each do |record|
          - status = nil
          - if not record.empty? and record[0] != record[1]
            - status = record[0] > record[1] ? :win : :loss
          = content_tag 'td', record.join("-"), class: status

:javascript
  $(document).ready( function () {
    var oTable = $('#vs_table').dataTable({
      "aaSorting": [],
      "bSort": false,
      "bPaginate": false,
      "sScrollX": "100%",
      // totally eyeballed this. prob a better way =P and prob a css way too.
      "sScrollY": $(window).height()-220 + 'px', 
      "sDom": 'ft',
    });
    new FixedColumns(oTable, {"iLeftWidth": 100});
  });