.row
  margin-bottom: 10px

table#all-time
  display: none

table.rankings
  td
    line-height: 1.2em
    vertical-align: middle
    height: 100%
    font-size: 1.5em

  td.name
    font-size: 2em
    
  td.tags
    max-width: 130px
    overflow: hidden
    font-size: 1em
    
table#vs_table
  td, th
    vertical-align: middle
    text-align: center
  td.win
    color: #070
  td.loss
    color: #500

#matches
  td
    span
      margin-right: 5px
    span.win
      color: #070
    span.loss
      color: #500

#chart
  height: 200px
  margin-bottom: 10px
  
.vs-form
  display: inline

#new-match-panel
  h2
    margin-bottom: 20px
    
#new-tag-panel
  input#tag
    width: 70px
  input.tag-delete
    background-color: #ddd
    margin: 1px 3px 1px -1px  /* ugly :( */
    padding: 3px
    float: left
    border: 0
  form.button_to
    float: left

a.tag-link
  span.tag
    background-color: #ddd
    padding: 3px
    margin: 1px
    border-radius: 3px
    float: left

table.dataTable
  max-width: none  /* Hack for datatables to work right with firefox */
  margin-bottom: 0px  /* remove bottom margin to prevent overscroll on non-fixed columns */